body {
  background: #222;
}

a {
  text-decoration: none;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.lin-t {
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

.button {
  font-family: 'Aldrich', sans-serif;
  text-align: center;
  padding: 10px 10px;
  color: white;
  text-transform: uppercase;
}

.welcome-button {
  position: fixed;
  top: 40%;
  left: 50%;
  margin-left: -78px;
  -moz-transition: all 600ms ease-in;
  -o-transition: all 600ms ease-in;
  -webkit-transition: all 600ms ease-in;
  transition: all 600ms ease-in;
}
.welcome-button a {
  line-height: 30px;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transition: all 600ms ease-in;
  -o-transition: all 600ms ease-in;
  -webkit-transition: all 600ms ease-in;
  transition: all 600ms ease-in;
}
.welcome-button a.out {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
.welcome-button.out {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

[class*='bt-slider-'] {
  left: 100%;
  position: absolute;
  height: 100%;
  border-left: 1px solid white;
  z-index: 1000;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
[class*='bt-slider-'].out {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

.bt-slide-l {
  left: 0;
}

.bt-slider-0 {
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.bt-slider-1 {
  -moz-transition: all 800ms ease-in;
  -o-transition: all 800ms ease-in;
  -webkit-transition: all 800ms ease-in;
  transition: all 800ms ease-in;
}

.bt-slider-2 {
  -moz-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}

.bt-slider-3 {
  -moz-transition: all 500ms ease-in;
  -o-transition: all 500ms ease-in;
  -webkit-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
}

.bt-slider-4 {
  -moz-transition: all 1000ms ease-in;
  -o-transition: all 1000ms ease-in;
  -webkit-transition: all 1000ms ease-in;
  transition: all 1000ms ease-in;
}

.bt-sl-solid-l {
  position: absolute;
  left: 0;
  height: 100%;
  border-left: 2px solid orange;
  z-index: 1001;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
.bt-sl-solid-l.out {
  left: 50%;
}
.bt-sl-solid-l.down {
  height: 0%;
}

.bt-sl-solid-r {
  position: absolute;
  right: -1px;
  height: 100%;
  border-left: 2px solid orange;
  z-index: 1001;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
.bt-sl-solid-r.out {
  right: 50%;
}
.bt-sl-solid-r.down {
  height: 0%;
}