<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    

    <div id="top-bar-wrapper">
        <div id="top-bar">
           

            <div class="top-bar-profile">
                <div class="profile-name">
                    <span>Danny Suarez</span><br/>
                    PSL here we go!
                </div>
                <a href="#" id="profile-image">
                    <h:graphicImage name="images/profile.png" library="icarus-layout" style="border: 0 none;"/>
                </a>
                <ul class="top-submenu animated flipInX">
                    <li>
                        <a onclick="window.open('https://www.linkedin.com/in/dannysuarez', '_blank');">
                            <i class="fa fa-fw fa-user"></i>
                            <span>LinkedIn</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="top-menu">
               
            </div>
        </div>
    </div>

    
</ui:composition>